.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    width: 420px;
    height: 450px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .1s ease;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper.active {
    height: 550px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transform: translateX(0);
    transition: transform 0.1s ease;
}

.wrapper.active .form-box.login {
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    top:0;
    left: 0;
    transform: translateX(400px);
    transition: transform 0.1s ease;
}

.wrapper.active .form-box.register {
    transform: translateX(0);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
}


.form h1 {
    font-size: 36px;
    text-align: center;
}

.form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px 15px 0px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255, 255, .5);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box .icon {
    position: absolute;
    right: 30px;
    translate: 0 80%;
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 35px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}