.sidebar-content {
    position: relative;
    width: 255px;
    max-height: 100vh;
    display: block;
}

.sidebar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 255px;
}

/* Sidebar Option Style */
.nav-option {
    height: 70px;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    position: relative;
}

.nav-option:hover {
    background-color: #888;
}

/* Icon Style */
.icon {
    color: #ffffff;
    font-size: 25px;
    margin-right: 20px;
}

/* Link Style */
.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Arrow Icon */
.arrow-icon {
    margin-left: auto;
    font-size: 18px;
    color: #ffffff;
}

/* Submenu Styles */
.submenu {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.submenu-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.submenu-link:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Hide on smaller screens */
@media only screen and (max-width: 1300px) {
    .sidebar-content {
        display: none;
    }
}
