.active-bus-container {
    position: relative;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 15px;
    background-color: rgba(216, 42, 19, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}